/* 地图容器 */
#mapcontent{position:absolute;left:0;right:0;top:0;bottom:0;z-index:0;box-sizing:border-box;}

/* 工具栏 */
.toolbar {position:absolute;left:0;right:0;top:0;z-index:2;padding:7px 0 7px 7px;box-shadow:0 1px 4px #bdbcba;justify-content:flex-end;background:#fff;}
.tools-btn{padding-right:10px;}
.tools-btn>li{color:#666;float:left;padding:0 10px;border-right:1px dotted #b5b5b5;}
.tools-btn>li:last-child{border:none;}
.ic-tools-btn::before{content:'';display:inline-block;height:15px;width:15px;position:relative;top:2px;background:url(../../assets/images/map/ic-map-tools.png) no-repeat;margin-right:5px;}
.ic-layer-before::before{background-position:-112px 0;}
.ic-zoom-plus-before::before{background-position:-48px 0;}
.ic-zoom-minus-before::before{background-position:-64px 0;}
.ic-reset-before::before{background-position:-80px 0;}
.ic-computed-before::before{background-position:-16px 0;}
.ic-computed-length::before{background-position:-176px 0;}
.ic-computed-area::before{background-position:-192px 0;}
.ic-clear-before::before{background-position:-96px 0;}
.ic-search-before{background-position:0 0;}
.tools-btn>li:hover,.tools-btn>li:hover span{color:#5093e1;cursor:pointer;}
.tools-btn>li:hover .ic-layer-before::before{background-position:-112px -16px;}
.tools-btn>li:hover .ic-zoom-plus-before::before{background-position:-48px -16px;}
.tools-btn>li:hover .ic-zoom-minus-before::before{background-position:-64px -16px;}
.tools-btn>li:hover .ic-reset-before::before{background-position:-80px -16px;}
.tools-btn>li:hover .ic-clear-before::before{background-position:-96px -16px;}
.tools-btn>li:hover .ic-computed-before::before{background-position:-16px -16px;}
.tools-btn>li:hover  .ic-search-before::before{background-position:0 -16px;}

/* 测量 */
.measutre li{height:30px;line-height:30px;color:#666;margin-bottom:5px;padding:0 10px;white-space:nowrap;}
.measutre li:hover{background:#f5f5f5;cursor:pointer;}
.measutre li:hover .ic-computed-length::before{background-position:-176px -16px;}
.measutre li:hover .ic-computed-area::before{background-position:-192px -16px;}


/* 检索 */
.el-icon-search{font-size:14px;color:#6b7799;margin-right:4px;position:relative;top:1px;}
.el-icon-search-bg{float:right;height:30px;width:30px;text-align:center;line-height:30px;background:#379fef;border-radius:50%;cursor:pointer;}
.el-icon-search-bg .el-icon-search{color:#fff;}
.select-maparea-tool{height:42px;margin:5px 0;}
.select-maparea-tool span{float:left;width:41px;height:41px;margin-right:5px;border-radius:3px;display:flex;align-items:center;justify-content:center;}
.select-maparea-tool span:last-child{margin:0;}
.select-maparea-tool span::before{content:'';display:block;height:20px;width:20px;background:url(../../assets/images/map/ic-map-tools-2.png) no-repeat;}
.select-maparea-tool span:nth-child(1)::before{background-position:0 0;}
.select-maparea-tool span:nth-child(2)::before{background-position:0 -20px;}
.select-maparea-tool span:nth-child(3)::before{background-position:0 -40px;}
.select-maparea-tool span:nth-child(4)::before{background-position:0 -60px;}
.select-maparea-tool span:nth-child(1):hover::before,.select-maparea-tool span:nth-child(1).active::before{background-position:-20px 0;}
.select-maparea-tool span:nth-child(2):hover::before,.select-maparea-tool span:nth-child(2).active::before{background-position:-20px -20px;}
.select-maparea-tool span:nth-child(3):hover::before,.select-maparea-tool span:nth-child(3).active::before{background-position:-20px -40px;}
.select-maparea-tool span:nth-child(4):hover::before,.select-maparea-tool span:nth-child(4).active::before{background-position:-20px -60px;}
.select-maparea-tool span:hover{background-color:#3ba0f0;cursor:pointer;}
.select-maparea-tool span.active{background-color:#3ba0f0;}
.result{border-top:2px solid #f2f4f2;padding:12px 0;}
.result-tab li{float:left;padding:5px 5px;border:1px solid #eee;margin:0 2px 5px 0;border-radius:3px;}
.result-tab li:hover{color:#64aeec;cursor:pointer;}
.result-tab li.active{background:#64aeec;color:#fff;border-color:#64aeec!important}
.result-con{clear: both;max-height:180px;}
.result-con li{height:36px;line-height:36px;overflow:hidden;text-overflow:ellipsis;padding:0 5px;white-space:nowrap;}
.result-con li:hover{background:#f8f8f7;cursor:pointer;}


/* 地图自定义气泡 */
.box-bubble-wrapper{background:#fff;position:fixed;z-index:0;padding:10px;}
.box-bubble-wrapper::before{content:'';position:absolute;left:-6px;top:45%;display:block;height:14px;width:14px;background:#fff;transform:rotate(225deg)}
.list-bubble-info li{margin-bottom:8px;}


/* 地图点位label提示文字 */
#point_label_txt{position:absolute;left:0;top:0;padding:2px 5px;color:#f00;border:1px solid #2e2f30;}   /* 相对于地图容器定位 */
#point_label_txt::before{content:'';display:block;background:#fff;opacity:.7;position:absolute;left:0;top:0;right:0;bottom:0;}
#point_label_txt span{position:relative;}
